@{
    ViewBag.Title = "订单管理";
    Layout = "~/Areas/Shop/Views/Shared/_LayoutPage.cshtml";
}
<h1>>>订单管理</h1>
<div style="margin: 0 0 0 30px">
   @* <span>保险名称：</span>
    <input class="easyui-validatebox" type="text" id="chengXing">
    <a id="query" class="easyui-linkbutton">查询</a>
    <a href="/Admin/BaoXianGuanLi/AddBaoXian" class="easyui-linkbutton">添加</a>
    <a id="updata" class="easyui-linkbutton">修改</a>
    <a onclick="DeleteBaoXian()" class="easyui-linkbutton">删除</a>*@
</div>
<div style="margin: 20px 0 0 30px">
    <table  id="tbshop" class="easyui-datagrid" title="订单管理" style="width: auto; height: 320px"
           data-options="singleSelect:true,collapsible:true,url:'/shop/admin/GoodsJson1',rownumbers:true,pagination:true,pageSize:20">
        <thead>
            <tr>
                 <th data-options="field:'PeopleId_buy',width:80,hidden:true">买家id</th>
                <th data-options="field:'StoreId',width:80,hidden:true">店铺id</th>
                <th data-options="field:'GoodsId',width:80,hidden:true">商品id</th>
                <th data-options="field:'ShopOrderID',width:80,hidden:true">订单id</th>
                <th data-options="field:'GoodsName',width:100">商品名称</th>
                <th data-options="field:'StoreName',width:100">所属店铺</th>
                <th data-options="field:'PeopleName',width:100,align:'right'">购买人姓名</th>
                <th data-options="field:'PeopleAdd',width:100,align:'right'">地址</th>
                <th data-options="field:'PeoplePhone',width:150,align:'right'">联系电话</th>
                <th data-options="field:'PeopleEmail',width:150,align:'right'">Email</th>
                <th data-options="field:'PeoplePay',width:100,align:'right'">支付宝</th>
                <th data-options="field:'buyNum',width:150,align:'right'">购买数量</th>
                <th data-options="field:'butTime',width:150,align:'right'">购买时间</th>
                <th data-options="field:'BoolSeng',width:100,align:'right',formatter:function(value,row){if(row.BoolSeng==false){return '未发货'}else{return '已发货'}}">状态</th>

                <th data-options="field:'33',width:100,align:'right',formatter:formatter1,">操作</th>
                 <th data-options="field:'43',width:100,align:'right',formatter:formatter2,">详情</th>
            
            </tr>
        </thead>
    </table>
   
</div>
<script type="text/javascript">
    function formatter1(value, row, index) {
        //  var html = '  <a href="#"  onclick="onClickRow(' + row.StoreId + ',' + row.PeopleEmail + ')">审核通过</a>';
        var html = "<a  href='javascript:onClickRow()'>发货</a>";
        return html;
    }

    function formatter2(value, row, index) {
        //  var html = '  <a href="#"  onclick="onClickRow(' + row.StoreId + ',' + row.PeopleEmail + ')">审核通过</a>';
        var html = "<a target='_blank' href='javascript:onClickRow1()'>查看详情</a>";
        return html;
    }
    function onClickRow(index) {
        if ($('#tbshop').datagrid('getSelected').BoolSeng==true) {
            alert("该商品已发货");
            return false;
        }
      // console.log()
      //  var rows = $('#tbshop').datagrid('getSelected').PeopleEmail;
      //  console.log();
        //var i = $('#tbshop').datagrid('selectRow', index);

       // console.log($('#tbshop').datagrid('getSelected').ShopOrderID);
        location.href = "/shop/admin/PassExam1/" + $('#tbshop').datagrid('getSelected').ShopOrderID;

    }

    function onClickRow1(index) {
    
       // location.href = "/shop/admin/OrderDetial/?id=" + $('#tbshop').datagrid('getSelected').GoodsId + "&id1=" + $('#tbshop').datagrid('getSelected').StoreId + "&id2=" + $('#tbshop').datagrid('getSelected').PeopleId_buy;
        window.open("/shop/admin/OrderDetial/?id=" + $('#tbshop').datagrid('getSelected').GoodsId + "&id1=" + $('#tbshop').datagrid('getSelected').StoreId + "&id2=" + $('#tbshop').datagrid('getSelected').PeopleId_buy+ "&id3=" + $('#tbshop').datagrid('getSelected').buyNum) ;
    }
</script>
